html {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}
body {
  margin: 0;
  font-size: 28rpx;
  -webkit-user-select: none;
  user-select: none;
}
#app {
  max-width: 600px;
  margin: 0 auto;
}
view,
scroll-view {
  display: block;
}
scroll-view[scroll-y] {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
}
img {
  display: block;
}
